public-f net.minecraft.world.item.crafting.Ingredient
public net.minecraft.world.item.crafting.Ingredient$Value
public net.minecraft.world.item.crafting.Ingredient$TagValue
public net.minecraft.world.item.crafting.Ingredient$ItemValue
public net.minecraft.world.item.enchantment.EnchantmentHelper$EnchantmentVisitor
public net.minecraft.world.item.enchantment.EnchantmentHelper runIterationOnItem(Lnet/minecraft/world/item/ItemStack;Lnet/minecraft/world/item/enchantment/EnchantmentHelper$EnchantmentVisitor;)V

# Neoforge specific
public net.minecraft.world.level.block.Blocks leaves(Lnet/minecraft/world/level/block/SoundType;)Lnet/minecraft/world/level/block/Block;
public net.minecraft.world.level.block.Blocks flowerPot(Lnet/minecraft/world/level/block/Block;)Lnet/minecraft/world/level/block/Block;
